<br>
<h1>Editing Blog</h1>

<div class="alert alert-light" role="alert">
  <div id="notice02"><%= notice %></div>
</div>

<%= render 'form', blog: @blog %><br>

<%= link_to 'Show', @blog , class:'btn btn-light' %>  &nbsp;
<%= link_to 'Back', blogs_path, class:'btn btn-light' %>


