<br>
<h1>New Post</h1>
<br>

<div class="alert alert-light" role="alert">
  <div id="notice02"><%= notice %></div>
</div>

<%= render 'form', blog: @blog %><br>

<%= link_to 'Back', blogs_path, class:'btn btn-outline-secondary' %><br><br><br><br><br>