body, html {
  font-family: "Noto Serif";
  margin: 0 auto;
  text-align: center;
}

body {
   background-color: rgb(248, 248, 248);
   margin-bottom: 50px;
}

.container {
  margin-top: 20px;
}

