body, html {
  font-family: "Noto Serif";
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

body {
   width: 100%;
   -webkit-text-size-adjust: 100%;
   background-image: repeating-linear-gradient(135deg, rgba(189,189,189,0.1) 0px, rgba(189,189,189,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.container {
  margin-top: 20px;
}

#notice02{
  color:rgb(37,116,255);
  font-size: 1rem;  
}