textarea {
  border: 0.5px solid rgb(154, 152, 152);
  padding: 20px;
}

.many_option{
  display:inline-flex;
  align-items: center;
}

.page{
  background-color: white;
  color: black;
  width: max-content;
}

.blog_detail:hover{
  text-decoration: none;
}