textarea {
  border: 0.5px solid rgb(154, 152, 152);
  padding: 20px;
}

.option{
  text-align: center;
  margin: 0 auto;
}

.page{
  background-color: white;
  color: black;
  width: max-content;
}