#button{
  color:white;
  text-decoration: none;
}

.login_button{
  color:white;
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  display: inline-block;
}

#login_button{
  color:white;
  font-size: 1.5rem;
}
#g_button{
  color:white;
  font-size: 2rem;
}
