#button{
  color:white;
  text-decoration: none;
}

.login_button{
  color:white;
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  display: inline-block;
}

#login_button{
  color:white;
  font-size: 1.5rem;
}
#g_button{
  color:white;
  font-size: 2rem;
}

a.scroll{
  position:fixed;
  top:50%;
  right:0;
  width:80px;
  height:80px;
  display:block;
  background:#222;
  color:#fff;
  text-align:center;
  line-height:80px;
  text-decoration:none;
}
 
.btn{
  color:#6c757d;
  display: inline-flex;
  align-items: center;
}

.comment_btn{
  color:#6c757d;
  display: inline-flex;
  align-items: center;
}
.comment_btn:hover{
  color:black;
  text-decoration: none;
}

.many_option{
  justify-content: space-evenly;
  display: inline-flex;
  align-items: center;
}

.sub{
  font-size: xx-small;
  color:#6c757d;
  margin: 0 2px;
}

.favorite{
  display: flex;
  align-items: center;
}