footer {
  background-color:#337ab7;
  // opacity:0.5;
  padding: 15px 0 0px 0;
  color: white;
  margin: 0 auto;
  font-size: 12px;
  position: fixed;
  bottom:0;
  width: 100%;
  z-index: 110;
}

li {
    list-style:none;
}
ul {
    padding:0;
}