footer {
  z-index: 100;
  margin: 0 auto;
  height: fit-content;
  font-size: 12px;
  position: fixed;
  bottom:0;
  width: 100%;
  left: 0;
  box-shadow: 2px 2px 5px 3px rgba(31, 38, 135, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.401);

  background-image: linear-gradient(135deg, rgba(19, 176, 223, 0.26) 0%, rgba(19, 176, 223, 0.26) 23%,rgba(16, 160, 197, 0.26) 23%, rgba(16, 160, 197, 0.26) 65%,rgba(13, 144, 172, 0.26) 65%, rgba(13, 144, 172, 0.26) 70%,rgba(9, 129, 146, 0.26) 70%, rgba(9, 129, 146, 0.26) 74%,rgba(6, 113, 121, 0.26) 74%, rgba(6, 113, 121, 0.26) 90%,rgba(3, 97, 95, 0.26) 90%, rgba(3, 97, 95, 0.26) 100%),linear-gradient(45deg, rgba(65, 234, 230, 0.26) 0%, rgba(65, 234, 230, 0.26) 28%,rgba(88, 192, 215, 0.26) 28%, rgba(88, 192, 215, 0.26) 55%,rgba(110, 150, 201, 0.26) 55%, rgba(110, 150, 201, 0.26) 66%,rgba(133, 107, 186, 0.26) 66%, rgba(133, 107, 186, 0.26) 80%,rgba(155, 65, 172, 0.26) 80%, rgba(155, 65, 172, 0.26) 85%,rgba(178, 23, 157, 0.26) 85%, rgba(178, 23, 157, 0.26) 100%),linear-gradient(90deg, rgb(27, 194, 246) 0%, rgb(27, 194, 246) 6%,rgb(39, 174, 237) 6%, rgb(39, 174, 237) 32%,rgb(50, 155, 229) 32%, rgb(50, 155, 229) 40%,rgb(62, 135, 220) 40%, rgb(62, 135, 220) 66%,rgb(74, 116, 211) 66%, rgb(74, 116, 211) 72%,rgb(86, 96, 202) 72%, rgb(86, 96, 202) 86%,rgb(97, 77, 194) 86%, rgb(97, 77, 194) 96%,rgb(109, 57, 185) 96%, rgb(109, 57, 185) 100%);
}

.pagination{
  display: block;
  z-index: 50;
  margin-bottom: 200px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}


#Control{
  color:transparent;
  z-index: 500;
  table-layout: fixed;
  margin: 5px auto;
}

#player{
  display: inline;
  margin-right: 10px;
  text-align: center;
}

#player:hover{
  -webkit-transform: translatex(5px);
  transform: translatex(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#visibility:hover{
  -webkit-transform: translatex(5px);
  transform: translatex(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#visibility_off:hover{
  -webkit-transform: translatex(5px);
  transform: translatex(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.foot-wrap .menu-left, .menu-center, .menu-right {
  display: inline-block;
  width: 30%;
  margin: 0 auto;  
  margin-top: 10px;
  height: 30px;
}

.foot-wrap ul {
  list-style: none;
}
.foot-wrap {
  color: #fff;
  text-align: center;
  margin-bottom: 15px ;
}

.foot-wrap a {
  text-decoration: none;
  color: #fff;
}

#seach_button{
  color: white;
  font-size: xx-large;
}

#new_footer{
  color: white;
  margin-bottom: 20px;
  font-size: xx-large;
  position: relative;
}

#new_footer:hover{ 
  color: white;
  border: none !important;
  outline: none !important;
  -webkit-transform: translatex(5px);
  transform: translatex(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* drop up buttons menu */
.drop-up {
  display: inline-block;
  padding: 0px;
  width: 100px;
  list-style: none;
  height: 30px;
  z-index: 25;
  background: transparent;
}
.drop-up button {
  border: none !important;
  outline: none !important;
  background: transparent;
  width: 100%;
  height: 100%;
  color: white;
}
.drop-up .drop-up-item {
  text-align: center;
  margin: 0 auto;
  width: 120px;
  height: 30px;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  z-index: 25;
}
/* subnav layer */
.drop-up-sub-nav {
  padding: 0px;
  margin: 0px;
  text-align: center;
  list-style: none;
  position: absolute;
  display: none;
  opacity: 0;
  z-index: 30;
  background: transparent;
  border: 1px solid transparent;
  transition-delay: 10s;
}
.drop-up-sub-nav .drop-up-item {
  display: block;
  width: 100%;
  background-color: transparent;
  text-align: center;
  z-index: 30;
  transition-delay: 10s;

}
.drop-up-sub-nav .drop-up-item button {
  background-color: transparent;
  border: none;
  transition-delay: 10s;
}
.drop-up-item:hover .drop-up-sub-nav {
  display: block;
  opacity: 1;
  left: -20px;
  bottom: 23px;
  width: 140%;
  text-align: center;
  transition-delay: 10s;
}

.search_container{
  display: inline-block;
  width: max-content;
  background-color: transparent;
  transition-delay: 10s;
}

