.form-group{
  box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.401);
  padding: 0 100px;
  margin-bottom: 100px;
}

.profile_edit{
  box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.401);
}

.from_label{
  color:#6c757d;
  font-weight: 700;
  margin: 10px auto;
}

#tag_list{
  display: block;
  width: 360px;
  overflow-wrap: normal;
  margin: 10px auto;
}