nav{
  position: sticky;
  width: 100%;
  background-color: #337ab7;
  height: fit-content;
  top: 0; 
  text-decoration: none;
  // font-weight: bold;
}
.menu {
	list-style-type:none;
}
.menu > li {
	display:inline-block;
	position:relative;
}
.menu > li > ul {
	display:none;
}
.menu > li:hover ul {
	display:block;
	position:absolute;
	padding:0;
	margin:0;
	top:1.5em;
	left:0;
	list-style-type:none;
  background-color: #337ab7;
}

.link{
  color:white;
  text-decoration: none;
}

.a{
  color:white;
  text-decoration: none;
}

.left{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  color:white;
  text-decoration: none;
}

.b-right{
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  color:white;
  text-decoration: none;
}
.right{
  float: left;
  margin-right: 20px;
  color:white;
  text-decoration: none;
}

.link1:hover {
  color:#fff;
  background-color: white;
  color: #337ab7;
  text-decoration:none;
}

.link2:hover {
  color:#fff;
  background-color: white;
  color: #337ab7;
  text-decoration:none;
}

.link3:hover {
  color:#fff;
  background-color: white;
  color: #337ab7;
  text-decoration:none;
}

.link4:hover {
  color:#fff;
  background-color: white;
  color: #337ab7;
  text-decoration:none;
}
  
header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  background-color:#337ab7;
  // opacity:0.5;
  padding: 15px 0 0px 0;
  color: white;
  margin: 0 auto;
  font-size: 12px;
  position:fixed;
  bottom:0;
  width: 100%;
}

li {
    list-style:none;
}
ul {
    padding:0;
}