.link_blog{
  position: relative;
  display: inline-flex;
  margin: 0 15px;
  text-align: center;
  text-decoration: none;
  color:#6c757d;
  font-weight: bolder;
  font-size: small;
}

.link_count{
  position: relative;
  color:#6c757d;
  font-size: small;
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
}
.link_count:hover{
  text-decoration: none;  
  color:#000;
}

.comment_count{
  position: relative;
  color:#6c757d;
  font-size: small;
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 5px;
}

.link_icon{
  position: relative;
  display: inline-flex;
  margin-right: 15px;
  margin-left: 0px;
  text-align: center;  
  text-decoration: none;  
  color:#6c757d;
  font-weight: bolder;
  font-size: small;
}

.link_blog:hover{
  position: relative;
  display: inline-flex;
  margin: 0 15px;
  text-align: center;
  text-decoration: none;
  color:#000;
}


.link_icon:hover{
  position: relative;
  display: inline-flex;
  margin-right: 15px;
  margin-left: 0px;
  text-align: center;  
  text-decoration: none;  
  color:#000;
}

.link{
  color:#6c757d;
}

.link:hover{
  color:#42A5F5;
  text-decoration: none;
}
#side-subtitle{
  color:#6c757d;
}

#side-subtitle:hover{
  color:#42A5F5;
  text-decoration: none;
}