.link_blog{
  position: relative;
  display: inline-flex;
  margin: 0 15px;
  text-align: center;
  text-decoration: none;
  color:#6c757d;
  font-weight: bolder;
  font-size: small;
}

.link_count{
  position: relative;
  display: inline-flex;
  margin: 0 1px;
  text-align: right;
  color:#6c757d;
  font-size: small;
}

.link_icon{
  position: relative;
  display: inline-flex;
  margin-right: 15px;
  margin-left: 0px;
  text-align: center;  
  text-decoration: none;  
  color:#6c757d;
  font-weight: bolder;
  font-size: small;
}

.link_blog:hover{
  position: relative;
  display: inline-flex;
  margin: 0 15px;
  text-align: center;
  text-decoration: none;
  color:#000;
}

.link_count:hover{
  position: relative;
  display: inline-flex;
  margin: 0 1px;
  text-align: right;
  text-decoration: none;  
  color:#000;
}

.link_icon:hover{
  position: relative;
  display: inline-flex;
  margin-right: 15px;
  margin-left: 0px;
  text-align: center;  
  text-decoration: none;  
  color:#000;
}