.context {
  position: absolute;   
  text-align: left;
  margin-left: 10%;
  bottom: 28%;
  color: white;
  font-size: 2.5rem;
  font-style: italic;

  text-transform: uppercase;
  width: 100%;
  z-index: 250;
  text-shadow: 0 8px 3px rgba(31, 38, 135, 0.2);
}

.sub_context{
  position: absolute;   
  text-align: left;
  font-style: italic;
  margin-left: 8%;
  bottom: 62%;
  color: white;
  font-size: 0.5rem;
}

.sub_context02{
  position: absolute;   
  text-align: left;
  font-style: italic;
  margin-left: 15%;
  bottom: 30%;
  color: white;
  font-size: 0.5rem;
}

 