.context {
  position: absolute;   
  text-align: left;
  margin-left:10%;
  bottom: 22%;
  color: white;
  font-size: 3rem;
  font-style: italic;

  text-transform: uppercase;
  width: 100%;
  z-index: 250;
  text-shadow: 0 8px 3px rgba(31, 38, 135, 0.2);
}

.sub_context{
  position: absolute;   
  text-align: left;
  font-style: italic;
  margin-left: 6%;
  bottom: 62%;
  color: white;
  font-size: 0.5rem;
}

.sub_context02{
  position: absolute;   
  text-align: left;
  font-style: italic;
  margin-left: 20%;
  bottom: 23%;
  color: white;
  font-size: 0.5rem;
}

.sub_context03{
  position: absolute;   
  font-style: italic;
  margin-left: 1%;
  bottom: 2%;
  color: white;
  font-size: 0.5rem;
  opacity: 0.5;
}
 