
.mainquote {
  color: white;
  font-family: sans-serif;
  font-size: 0.75rem;
  width: 50%;
  margin-top: 11.5em;
  float:right;
  text-align: right;
  margin-right: 10%;
  z-index: 250;
}
.mainquote h1 {
  font-size: 1rem;
}
.mainquote .best_word {
  font-style: italic;
  margin-bottom: 0;
}

.mainquote .best_word::before,
.mainquote .best_word::after {
  content: "“";
  font-family: sans-serif;
  font-size: 5rem;
  margin: -2.5rem 0 0 -2.5rem;
  position: absolute;
  opacity: 0.5;
}

.mainquote .best_word::after {
  content: "”";
  margin: 1rem -3rem 0 1rem;
  right: 12%;
  opacity: 0.5;
}

.mainquote .author {
  font-size: 0.75rem;
  opacity: 0.5;
}