.voice{
  margin-left: 5px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 5px;
}

.record {
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  justify-content: center;
}

#MicOn{
  background-color: transparent;
  color:white;
  padding: 10px 10px;
  border-color: transparent;
  border: 0px solid;
  font-size:1.5em; 
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

#MicOn:active{
  border-style: hidden;
  border-color: transparent;
  border: 0px solid;
}

#RecStart{
  background-color: transparent;
  border-color: transparent;
  border: 0px solid;
  size: 100px;
  font-size:1.5em; 
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

#RecStop{
  background-color: transparent;
  border-color: transparent;
  border: 0px solid;
  font-size:1.5em; 
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

#Control{
  color:transparent;
  margin-bottom: 10px;
  display: inline-block;
  z-index: 500;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 50%;

  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
  margin: 0 auto;
}

#player{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
// .speak {
//   animation : fadeOut 10s;
//   animation-fill-mode: both;
// }
// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

// .record_msg {
//   animation : fadeOut 10s;
//   animation-fill-mode: both;
// }
// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }