.center{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  size: 1em;
}

.record {
  display: flex;
  text-align: center;
  margin: 0 auto;
  // margin-bottom: 10px;
  justify-content: center;
}

#MicOn{
  text-align: center;
  background-color: transparent;
  padding: 10px auto;
  border-color: transparent;
  border: 0px solid;
  font-size: 3em; 
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #4CAF50;
  text-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}

#RecStart{
  background-color: transparent;
  border-color: transparent;
  border: 0px solid;
  size: 100px;
  font-size: 3em; 
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #FF9800;
  text-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}

#RecStop{
  background-color: transparent;
  border-color: transparent;
  border: 0px solid;
  font-size: 3em; 
  border: none !important;
  outline: none !important;
  color: #42A5F5;
  text-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

#MicOn[disabled]{
  background-color: transparent;
  color:grey;
  padding: 10px 10px;
  border-color: transparent;
  border: 0px solid;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  pointer-events: none;
}

#RecStart[disabled]{
  background-color: transparent;
  border-color: transparent;
  border: 0px solid;
  size: 100px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: grey;
  pointer-events: none;
}

#RecStop[disabled]{
  background-color: transparent;
  border-color: transparent;
  border: 0px solid;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: grey;
  pointer-events: none;
}


#MicOn:hover{
  background-color: transparent;
  text-shadow: 5px 5px 10px rgba(76, 175, 80, 0.5);
  border-color: transparent;
  border: 0px solid;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;

  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#RecStart:hover{
  background-color: transparent;
  border-color: transparent;
  border: 0px solid;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  text-shadow: 5px 5px 10px rgba(255, 152, 0, 0.5);

  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#RecStop:hover{
  background-color: transparent;
  border-color: transparent;
  border: 0px solid;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  text-shadow: 5px 5px 10px rgba(66, 165, 245, 0.5);

  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#Control{
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}