.gotop{
  display: block;
  width: 100px;
  height: 40px;
  font-weight: bolder;
  box-sizing: border-box;
  background: transparent;
   text-align: center;
  letter-spacing: -1px;
  font-size: 100%;
  text-decoration: none;
  color: #333;
  opacity: 0.2;
  position: fixed;
  bottom: 70px;
  right: 25px;
  z-index: 10000;
  border-radius: 15px;
}
.gotop::before{
  display: block;
  width: 25%;
  height: 5%;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover{
  opacity: 1;
  color: #333;
  text-decoration: none;
}
