#sticky-sidebar{
  z-index: 0;
}
.list_title{
  display: inline-block;
  text-align: left;
  scroll-behavior: smooth;
  list-style: none;
  
}
#list{
  text-align: left;
  justify-content: left;  
}
.title{
  
}