#sticky-sidebar{
  z-index: 0;
}
.list_title{
  display: inline-block;
  text-align: left;
  scroll-behavior: smooth;
  list-style: none;  
  font-size: 1rem;
}
#list{
  text-align: left;
  justify-content: left;  
  overflow-wrap: break-word;
}
#open{
  font-size: smaller;
}

.btn-side{
  color:#6c757d;
  font-weight: 600;
  font-size: 0.85rem;
}

.btn-side:hover{
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.card-header01{
  background: white;
  margin-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color:#6c757d;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid #6c757d;
}
.card-title02{
  margin: 15px auto;
}
.link_resources{
 display: block;
 margin: 0 15px;
 text-decoration: none;
 color:#6c757d;
}
.link_resources:hover{
  margin-top: 5px;
  display: block;
  margin: 0 15px;
  text-decoration: none;
  color:#42A5F5;
 }

.link-text01{
  font-size: small;
}
.link-text02{
  font-size: smaller;
}
 