.voice{
  margin-left: 10px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

#interpreter_mode{
  color:white;
  margin-right: 7px;
}

#voice-select{
  border-radius: 5px;
}

.speak-btn{
  background: #42A5F5;
  box-shadow: 0 10px 15px -10px rgba(66, 165, 245, 0.5);
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;
  color: white;
  border: none !important;
  outline: none !important;
  margin-bottom: 10px;
}
.speak-btn:hover{
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;
  color: white;
  border: none !important;
  outline: none !important;
  background: #FF9800;
  box-shadow: 0 10px 15px -10px #FF9800;
}

.speak-btn[disabled]{
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;
  border: none !important;
  outline: none !important;
  pointer-events: none;
  background-color: rgb(231, 227, 227);
  box-shadow: none;
}

.pause-btn{
  background: #ababff;
  border-radius: 15px;  
  padding: 0 10px;  
  padding-top: 5px;
  color: white;
  border: none !important;
  outline: none !important;
  box-shadow: 0 10px 15px -10px #a989cf;
}

.pause-btn:hover{
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;
  color: white;
  border: none !important;
  outline: none !important;
  background: #FF9800;
  box-shadow: 0 10px 15px -10px #FF9800;
}

.pause-btn[disabled]{
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;  
  border: none !important;
  outline: none !important;
  pointer-events: none;
  background-color: rgb(231, 227, 227);
  box-shadow: none;
}

.resume-btn{
  background: #42A5F5;
  box-shadow: 0 10px 15px -10px rgba(66, 165, 245, 0.5);
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;
  color: white;
  border: none !important;
  outline: none !important;
}

.resume-btn:hover{
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;
  color: white;
  border: none !important;
  outline: none !important;
  background: #FF9800;
  box-shadow: 0 10px 15px -10px #FF9800;
}

.resume-btn[disabled]{
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;
  border: none !important;
  outline: none !important;
  pointer-events: none;
  background-color: rgb(231, 227, 227);
  box-shadow: none;
}

.stop-btn{
  background: #ababff;
  border-radius: 15px;  
  padding: 0 10px;  
  padding-top: 5px;
  color: white;
  border: none !important;
  outline: none !important;
  box-shadow: 0 10px 15px -10px #a989cf;
}

.stop-btn:hover{
  background: #FF9800;
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;
  color: white;
  border: none !important;
  outline: none !important;
  box-shadow: 0 10px 15px -10px #FF9800;
}

.stop-btn[disabled]{
  border-radius: 15px;
  padding: 0 10px;  
  padding-top: 5px;
  border: none !important;
  outline: none !important;
  pointer-events: none;
  background-color: rgb(231, 227, 227);
  box-shadow: none;
}
