.table-responsive{
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
  margin: 0 auto;
  z-index: 100;
}

.table-responsive table{
  background-color: white;
  margin: 0 auto;
  width: max-content;
  border-radius: 3px;
  border-spacing: 10px 10px;
  border: 1px solid;
  border-color: #6c757d; 
  margin-bottom: 30px;
  padding: 20px 10px;
  border-collapse: separate;
}

.category{
  font-weight: lighter;
  margin: 0 auto;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.th_user {
  text-align: left;
  height: fit-content;
  font-weight: 200;
}

.th_title {
  font-weight: lighter;
  padding: 10px 20px;
  margin: 0 auto;
  text-align: left;
}

.th_detail {
  font-weight: lighter;
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
}
