.table-responsive{
  table-layout: fixed;
  word-break: normal;
  word-wrap: normal;
  margin: 0 auto;
  z-index: 100;
  font-family: HiraMinProN-W6;
  // min-width: 370px;
}

.table-responsive table{
  background-color: white;
  margin: 0 auto;
  width: max-content;
  border-radius: 3px;
  border: 1px solid;
  border-color: #6c757d; 
  margin-bottom: 30px;
  padding: 15px 15px;
  border-collapse: separate;
}

.card-header{
  height: fit-content;
}

.category{
  font-size: 1rem;
  color: #6c757d; 
  margin: 0 auto;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 5px;
  display: inline-flexbox;
  align-items: baseline;
  line-height: 1rem;
  min-width: 365px;     
  font-size: 0.85rem; 
}

#blog_show{
  font-size: 1rem;
  color:#6c757d; 
  float: right;
}

.blog_show{
  float: right;
  text-align: right;
  justify-content: right;
  top: 0px;
}

.th_user {
  text-align: left;
  height: max-content;
  font-weight: 200;
  margin: 5px auto;
  padding-left: 20px;
  font-size: 0.85rem; 
}

.user_name{
  font-weight: bold;
  margin-right: 10px;
  font-size: 0.85rem; 
}

.card-text{
  margin: 10px auto;
}

#title_main {
  font-weight: lighter;
  padding-top: 0 ;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  text-align: right;
  float:right;
  overflow-wrap: normal;
  width: 365px;
  font-size: 0.85rem; 
}

.th_detail {
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
  text-align: center;
  overflow-wrap: normal;
  width: 365px;
  color: black;
  font-size: 1rem;
  font-family: HiraMinProN-W6;
}

.card-body{
  background: white;
  box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.401);
}

.th{
  padding-top: 5px;
  padding-bottom: 10px;
}
