.text_area{
  border-radius: 5px;
}

.form-group{
  background: white;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
  padding: 30px 30px;
}

.profile_edit{
  background: white;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
  padding: 30px 30px;
}

.alert{
  background: transparent;
}