<div class="container">
  <h1 class="title">Inspire</h1>
    <p id="notice"><%= notice %></p>

    
  <div class="contents">
    <div class="col-md-6"><%= link_to 'All Posts', blogs_path %></li></div>
    <div class="col-md-6"><%= link_to 'Make new Post', new_blog_path %></div>
  </div> 
    
</div>