<div class = "guidance"><br>
<h1>Guidance</h1>

<p><%= link_to "Top page", root_path , class:'btn btn-light' %> &nbsp;
<%= link_to "Home page", blogs_path , class:'btn btn-light' %></p> 

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-3 order-2 order-md-1"> 
    </div>

    <div class="col-xs-6 col-sm-4 col-md-6 order-1 order-md-1">       
      <div class="card-body">
        <h5 class="card-title">1. Listening</h5>
        <p class="card-text">1.1 Choose the language you want to learn from the menu symbol in the navigation or the left-side column.</p>

        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/2l7164hu8nli1ts/g1.png" class="figure-img img-fluid rounded" alt="Choose the language">
          <figcaption class="figure-caption">Choose the language</figcaption>
        </figure>

        <p class="card-text">1.2 Find the post you like and listen to it by clicking the play button below.</p>
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/coortt9f4wcf8qf/g2.png" class="figure-img img-fluid rounded" alt="Click the play button">
          <figcaption class="figure-caption">Click the play button</figcaption>
        </figure>

        <p class="card-text">1.3 When the play button clicked, it will be disabled and the pause button, replay button & stop button will be enabled. </p><br>
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/eqqjy95rr0yguct/g3.png" class="figure-img img-fluid rounded" alt="Please click the Stop button before listening to a new post.">
          <figcaption class="figure-caption">Please click the Stop button before listening <br>to a new post.</figcaption>
        </figure>
      </div><br><br>

      <div class="card-body">
        <h5 class="card-title">2. Recording</h5>
        <p class="card-text">2.1 Hover the blue rounded button to make other necessary buttons displayed. By this time, only the green "Getting microphone button" is enabled.</p>          
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/35uoxssyk66utce/g4.png" class="figure-img img-fluid rounded" alt="Hover the blue rounded button">
          <figcaption class="figure-caption">Hover the blue rounded button</figcaption>
        </figure>

        <p class="card-text">2.2 Click on the green "Get the microphone button" to connect to the microphone on your device. By this time, the recording button & stop recording button will be enabled.</p>
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/6w09j1qfh7syh9a/g4b.png" class="figure-img img-fluid rounded" alt="Click on the green button">
          <figcaption class="figure-caption">"Get the microphone button" is clicked</figcaption>
        </figure>

        <p class="card-text">2.3 Click on the orange "Recording button" to start recording & the blue "Stop recording button" to stop the record.</p>
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/8au5hei0spz3jfr/g5.png" class="figure-img img-fluid rounded" alt="Start & Stop recording button">
          <figcaption class="figure-caption">"Start recording button" & "Stop recording button"</figcaption>
        </figure>

        <p class="card-text">2.4 Once the "Stop recording button" is clicked, the audio player will appear in the footer. You can download it to your PC (the audio downloading function is not yet available on smartphone)</p>
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/1232ue0al860c83/g6.png" class="figure-img img-fluid rounded" alt="Audio player's area">
          <figcaption class="figure-caption">Audio player's area</figcaption>
        </figure>      
      </div><br><br>

      <div class="card-body">
        <h5 class="card-title">3. Others</h5>
        <p class="card-text">3.1 You can make new post by clicking the "Make new post" button or the symbol on the right side of the footer.</p>
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/zfopngocfdf9zbc/g7.png" class="figure-img img-fluid rounded" alt="Buttons for making new post">
          <figcaption class="figure-caption">Buttons for making new post</figcaption>
        </figure>    

        <p class="card-text">3.2 You can do searching by clicking the magnifying glass symbol on the left side of the footer.</p>
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/4zdo60pntfbx42s/g8.png" class="figure-img img-fluid rounded" alt="Search button">
          <figcaption class="figure-caption">Search button</figcaption>
        </figure>

        <p class="card-text">3.3 Show your opion by commenting.</p>
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/c140v7umpxuptqq/g9.png" class="figure-img img-fluid rounded" alt="Click to comment">
          <figcaption class="figure-caption">Click to comment</figcaption>
        </figure>
        
        <p class="card-text">3.4 Your post will be shown on your own page.</p>        
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/mhk5lu659ptvagy/G12.jpg" class="figure-img img-fluid rounded" alt="Your own page">
          <figcaption class="figure-caption">Your own page</figcaption>
        </figure>

        <p class="card-text">3.5 Your liked post will be shown on your favorite list.</p>
        <figure class="figure">
          <img src="https://dl.dropboxusercontent.com/s/ptujtkt0fitfs1w/G13.jpg" class="figure-img img-fluid rounded" alt="Favorite list">
          <figcaption class="figure-caption">Favorite list</figcaption>
        </figure>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 order-3 order-md-3" >
    </div>

  </div>
</div>