<div class = "guidance"><br>
<h1>Guidance</h1>

<p><%= link_to "Top page", root_path , class:'btn btn-light' %> &nbsp;
<%= link_to "Home page", blogs_path , class:'btn btn-light' %></p> 

<div class="container">
  <div class="row">

    <div class="col-6 col-md-4 order-1 order-md-1">  
        <div class="card-body">
          <h5 class="card-title">1. Listening</h5>
          <p class="card-text">1.1 Choose the language you want to learn from the menu symbol in the navigation or the left-side column.</p>
          <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/qdvk79did0mf3f6/G1.jpg" alt="Card image cap"><br><br>

          <p class="card-text">1.2 Find the post you like and listen to it by clicking the play button below.</p>
          <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/j6icbdy79a7zov1/G3.jpg" alt="Card image cap"><br><br>

          <p class="card-text">1.3 When the play button clicked, it will be disabled and the pause button, replay button & stop button will be enabled. </p>
          <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/niw8pdu7mzdh9an/G4.png" alt="Card image cap"><br><br>
      </div>    
    </div>

    <div class="col-6 col-md-4 order-2 order-md-2" >
        <div class="card-body">
          <h5 class="card-title">2. Recording</h5>
          <p class="card-text">2.1 Hover the blue rounded button to make other necessary buttons displayed. By this time, only the green "Getting microphone button" is enabled.</p>
          <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/zkm5dpd5kywy5h6/G5.png" alt="Card image cap">  <br><br>

          <p class="card-text">2.2 Click on the green "Getting microphone button" to connect to the microphone on your device. By this time, the recording button & stop recording button will be enabled.</p>
          <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/rd7uztgt61rmglt/G6.png" alt="Card image cap">  <br><br>

          <p class="card-text">2.3 Click on the orange "Recording button" to start recording & the blue "Stop recording button" to stop the record.</p>
          <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/vqho7x386yqmgwm/Gb%20%281%29.png" alt="Card image cap">  <br><br>

          <p class="card-text">2.4 Once the "Stop recording button" is clicked, the audio player will appear in the footer. You can download it to your PC (the audio downloading function is not yet available on smartphone)</p>
          <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/xhjq2mceq353lju/G8.png" alt="Card image cap">  <br><br>      
      </div>
    </div>

    <div class="col-6 col-md-4 order-3 order-md-3" >
      <div class="card-body">
        <h5 class="card-title">3. Others</h5>
        <p class="card-text">3.1 You can make new post by clicking the "Make new post" button or the symbol on the right side of the footer.</p>
        <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/78ihnw5z8a45bn2/G9.jpg" alt="Card image cap">  <br><br>

        <p class="card-text">3.2 You can do searching by clicking the magnifying glass symbol on the left side of the footer.</p>
        <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/bg1dv3mxxov6s7j/G10.jpg" alt="Card image cap">  <br><br>

        <p class="card-text">3.3 Show your opion by commenting.</p>
        <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/j20bh23es4yahxi/G11.jpg" alt="Card image cap">  <br><br>
        
        <p class="card-text">3.4 Your post will be shown on your own page.</p>
        <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/mhk5lu659ptvagy/G12.jpg" alt="Card image cap">  <br><br>

        <p class="card-text">3.5 Your liked post will be shown on your favorite list.</p>
        <img class="card-img-bottom" src="https://dl.dropboxusercontent.com/s/ptujtkt0fitfs1w/G13.jpg" alt="Card image cap">  <br><br>
      </div>
    </div>

    </div>
  </div>
</div>