<%= stylesheet_link_tag 'only/top', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'only/top_star', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      </div>

    <div class="col-sm">
      <div class="bg"></div>
      <div class="star-field">
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="d-flex flex-column justify-content-center w-100 h-100">
        <div class="d-flex flex-column justify-content-center align-items-center">

          <h1>Inspire</h1>

            <div class ="text"> 
              <span>by sharing the words touched your heart</span>
            </div>

              <% if user_signed_in? %>
                <div class="btn-group my-5">
                  <a href="/blogs" class="btn btn-outline-light" aria-current="page">INDEX</a>
                  <a href="/users/sign_out/" class="btn btn-outline-light">LOGOUT</a>
                </div>

              <% else %>      
                <div class="btn-group my-5">
                  <a href="/users/sign_up" class="btn btn-outline-light" aria-current="page">SIGNUP</a>          
                  <a href="/users/auth/google" class="btn btn-outline-light"> GOOGLE LOGIN</a>
                  <a href="/users/sign_in" class="btn btn-outline-light">LOGIN</a>
                </div>
            <% end %>

            <h5 class="fw-light">— Learning languages by listen and repeat to inspiring words —</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
    </div>

  </div>
</div>