h1 {
  margin-top: 10px;
  grid-column: 1;
  grid-row: 1;
  color: rgb(255, 255, 255);
  z-index: 1;
  font-size: 5rem;
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px rgb(199, 197, 197);
  }
  to {
    text-shadow: 0 0 30px #e0eaf1, 0 0 10px rgb(81, 81, 81);
  }
}

// Google_login
.google{
  color: white;
  text-decoration: none;
}
.google:hover{
  text-decoration: none;
}
.google_btn{
  background-color: transparent;
  margin: 0,auto;
  margin-bottom: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: white;
}
.google_btn:hover{
  background-color: white;
  color: transparent;
  border-radius: 5px;
  border: 1px solid;
  border-color: white;
}
// text
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.text {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  font-size: 1rem;
  color:white;
  font-weight:lighter;
  text-align: center;
  padding: 0 10px;
  overflow-wrap: break-word;
}

.text :first-of-type {   
  animation: showup 7s infinite;
}

.text :last-of-type {
  width:0px;
  animation: reveal 15s infinite;
}

.text :last-of-type span {
  margin-left:-355px;
  animation: slidein 15s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

.fw-light {
  font-weight:lighter;
  color:white ;
  font-size: 1rem;
  padding: 0 10px;
  overflow-wrap: break-word;
  line-height: 2rem;
  margin: 0 20px;
}

.more_detail{
  opacity: 0.7;
  font-weight:lighter;
  color:white ;
  font-size: 0.7rem;
  padding: 0 30px;
  overflow-wrap: break-word;
  line-height: 1rem;
}

.more_detail02{
  margin-top: 10px;
  opacity: 0.5;
  font-weight:lighter;
  color:white ;
  font-size: 0.5rem;
  padding: 0 30px;
  overflow-wrap: break-word;
  line-height: 1rem;
}

#top-btn{
  color:white;
}
#top-btn:hover{
  color: black;
}